<mat-toolbar class="card-header-toolbar">
    <span>My gifts</span>
</mat-toolbar>
<mat-card>
    <mat-list>
        <div *ngFor="let g of gifts; let i = index;">
            <mat-divider *ngIf="i > 0"></mat-divider>
            <app-gift-display [gift]="g"></app-gift-display>
        </div>
    </mat-list>
    <mat-card-content *ngIf="gifts && gifts.length === 0">
        You have no gifts yet. Browse the wishlists of other people and select the gift you'll be buying for them.
    </mat-card-content>
</mat-card>