<mat-toolbar class="card-header-toolbar">
    <span>{{ wListName }}</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <mat-list>
            <div *ngIf="sharedUsers">
                <h3 mat-subheader>This is a shared wishlist</h3>
                <mat-list-item *ngFor="let u of sharedUsers">
                    <mat-icon mat-list-icon *ngIf="u.photoUrl">
                        <img mat-fab-image class="avatar-small" [src]="u.photoUrl" onerror="brokenImg(this);">
                    </mat-icon>
                    <h4 mat-line>
                        {{ u.displayName }}
                    </h4>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h1 mat-subheader>Wishes</h1>
            </div>
            <div *ngFor="let w of wishes">
                <app-wish-display [wish]="w" [canDelete]="myGifts.indexOf(w.$key) > -1"
                                  (takeEvent)="takeWish($event)"
                                  (deleteEvent)="untakeWish($event)"></app-wish-display>
            </div>
        </mat-list>
        <mat-list-item *ngIf="wishes.length === 0">
            This list is empty...
        </mat-list-item>
        <section class="toggle-section">
            <mat-slide-toggle [checked]="(nService.wishlistSubscribed(this.lid)|async)?.$value" (change)="setSubscribed($event)">
                SUBSCRIBE TO THIS WISHLIST
            </mat-slide-toggle>
        </section>
    </mat-card-content>
</mat-card>