<!-- if the user has groups, show the active group and a toggle to open the select menu -->
<mat-nav-list class="side-list" *ngIf="groups && groups.length > 0; else no_groups">
    <a mat-list-item (click)="toggleGroups()">
        {{ (userService.getActiveGroupName() | async)?.$value }}
        <span class="space-filler"></span>
        <mat-icon class="menu-icon" class="rotate" [ngClass]="{'down': showGroups }">keyboard_arrow_down</mat-icon>
    </a>
</mat-nav-list>
<mat-nav-list *ngIf="showGroups" class="side-list" style="padding-left: 1em;">
    <span *ngFor="let g of groups">
        <a *ngIf="g.$key != config.activeGroup"
           mat-list-item
           routerLinkActive="route-active"
           (click)="chooseGroup(g.$key)">
            <mat-icon class="menu-icon">keyboard_arrow_right</mat-icon>
            {{ g.name }}
            <span class="space-filler"></span>
        </a>
    </span>
    <a mat-list-item routerLink="/edit-group/new" routerLinkActive="route-active" (click)="clicked()">
        <mat-icon class="menu-icon">add</mat-icon>
        New group
    </a>
    <a mat-list-item routerLink="/manage-groups" routerLinkActive="route-active" (click)="clicked()">
        <mat-icon class="menu-icon">settings</mat-icon>
        Manage groups
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
<ng-template #no_groups>
    <mat-nav-list class="side-list">
        <a mat-list-item routerLink="/edit-group/new" routerLinkActive="route-active" (click)="clicked()">
            <mat-icon class="menu-icon">add</mat-icon>
            New group
        </a>
    </mat-nav-list>
</ng-template>