<md-toolbar class="card-header-toolbar">
    <span (click)="editName = true" *ngIf="!editName">{{(wishlist$|async)?.name}}</span>
    <md-form-field class="full-width" style="width: 100%;" *ngIf="editName">
        <input mdInput required="true" [ngModel]='(wishlist$|async)?.name'
               (ngModelChange)="wishlist$.update({name  : $event})" name="email">
    </md-form-field>
</md-toolbar>
<md-card>
    <div *ngFor="let w of wishes; let i = index;">
        <app-wish-form [wish]="w" [idx]="i" (deleteEvent)="deleteWish($event)"></app-wish-form>
    </div>
    <p>
        <button md-raised-button routerLink="/edit-wish/new">Add</button>
    </p>
</md-card>