<mat-toolbar class="card-header-toolbar">
    <span (click)="editName = true" *ngIf="!editName">{{(wishlist$|async)?.name}}</span>
    <mat-form-field class="full-width" style="width: 100%;" *ngIf="editName">
        <input matInput required="true" [ngModel]='(wishlist$|async)?.name'
               (ngModelChange)="wishlist$.update({name  : $event})" name="email">
    </mat-form-field>
</mat-toolbar>
<mat-card>
    <mat-list>
        <div *ngFor="let w of wishes; let i = index;">
            <mat-divider *ngIf="i > 0"></mat-divider>
            <app-wish-display [wish]="w" (deleteEvent)="deleteWish($event)" (restoreEvent)="restoreWish($event)" [myWish]="true"></app-wish-display>
        </div>
    </mat-list>
    <mat-card-content *ngIf="wishes && wishes.length === 0">
        Your wishlist is empty, start by adding your first wish:
    </mat-card-content>
    <p>
        <button mat-raised-button routerLink="/edit-wish/new">Add</button>
    </p>
</mat-card>