<div *ngIf="!readOnly; else readonlyForm">
    <form class="group-form" *ngIf="group">
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Name" [(ngModel)]="group.name" name="gName">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Description" [(ngModel)]="group.description" name="gDescription">
        </md-form-field>
        <button md-raised-button color="accent" (click)="save()">Save</button>
        <button md-raised-button color="accent" (click)="cancel()">Cancel</button>
    </form>
</div>
<ng-template #readonlyForm>
    <md-list>
        <h3 md-subheader class="label-header">Description</h3>
        <md-list-item>
            <h4 md-line>{{ group.description }}</h4>
        </md-list-item>
        <h3 md-subheader class="label-header">Users</h3>
        <md-list-item *ngFor="let u of this.userList">
            <md-icon md-list-icon *ngIf="u.photoUrl">
                <img md-fab-image class="avatar" [src]="u.photoUrl">
            </md-icon>
            <h4 md-line>{{ u.displayName }}</h4>
        </md-list-item>
    </md-list>
</ng-template>