<form class="group-form" *ngIf="group">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="group.name" name="gName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" [(ngModel)]="group.description" name="gDescription">
    </mat-form-field>
    <button mat-raised-button type="button" color="accent" (click)="save()">SAVE</button>
    <button mat-raised-button type="button" color="accent" (click)="cancel()">CANCEL</button>
</form>
