<mat-sidenav-container class="fullscreen">
    <mat-sidenav #sidenav mode="{{sidenav_mode}}" class="sidenav">
        <mat-toolbar color="accent" routerLink="/start">
			<span>
				Logo
			</span>
        </mat-toolbar>
        <app-group-select *ngIf="auth.loggedIn == true" (linkClicked)="collapse()"></app-group-select>
        <app-list-select *ngIf="config.activeGroup"></app-list-select>
        <mat-nav-list class="side-list">
            <a mat-list-item routerLink="/notifications" routerLinkActive="route-active">
                <mat-icon class="menu-icon">notifications</mat-icon>
                Notifications
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="sidenav_mode == 'over' && auth.loggedIn == true">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
			Title
		</span>
        <span class="space-filler"></span>
        <button mat-icon-button *ngIf="photoUrl && auth.loggedIn == true" routerLink="/settings">
            <img mat-fab-image class="avatar" [src]="photoUrl" onerror="brokenImg(this);">
        </button>
    </mat-toolbar>
    <mat-progress-bar *ngIf="config.loading" mode="indeterminate"></mat-progress-bar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>