<mat-card class="form-container" *ngIf="config.errorMessage">
    {{config.errorMessage}}
    <mat-card-actions>
        <button mat-button color="primary" (click)="close()">CLOSE</button>
    </mat-card-actions>
</mat-card>

<mat-card class="form-container" *ngIf="!loggingIn || config.errorMessage; else loginLoader">
    <img src="../../../assets/icons/android-chrome-192x192.png" class="logo-img"/>
    <p class="intro-text">
        Welcome to eSint, the online wishlist manager!<br>
        Login to start using eSint:
    </p>
    <button class="fullwidth-button" mat-raised-button (click)="facebookLogin()" id="fb">Login with Facebook</button>
    <br>
    <button class="fullwidth-button" mat-raised-button (click)="googleLogin()" id="google">Login with Google</button>
    <br>
    <button class="fullwidth-button" mat-raised-button routerLink="/login-email" id="email">Email</button>
</mat-card>

<ng-template #loginLoader>
    <mat-card class="form-container">
        Logging in...
    </mat-card>
</ng-template>