<div fxLayout='row' fxLayout.lt-lg="column" fxLayoutWrap class="container">
    <div *ngFor="let g of groups" fxFlex="calc(50% - 1.6em)" style="margin-bottom: 0.8em;">
        <mat-toolbar class="card-header-toolbar">
            <span>{{ g.name }}</span>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <app-group-form [group]="g"></app-group-form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="leaveGroup(g.$key)">Leave</button>
                <a mat-raised-button *ngIf="g.users[config.userId] == 'creator'" [routerLink]="'/edit-group/'+g.$key">Edit</a>
                <button mat-raised-button *ngIf="g.users[config.userId] == 'creator'" (click)="inviteGroup(g.$key, g.name)">Invite</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>