 <form class="wish-form" *ngIf="wish">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Wish" [(ngModel)]="wish.name" name="wName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Link" [(ngModel)]="wish.linkURL" name="wLinkURL">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Link Title" [(ngModel)]="wish.linkTitle" name="wLinkTitle">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
</form>