<mat-list-item>
    <h4 mat-line [ngClass]="{'taken':wish.taken, 'deleted':wish.deleted}">{{ wish.name }}</h4>
    <p mat-line *ngIf="wish.linkURL" [ngClass]="{'taken':wish.taken, 'deleted':wish.deleted}">
        <a href="{{ wish.linkURL }}" target="_blank">{{ wish.linkTitle ? wish.linkTitle : wish.linkURL }}</a>
    </p>
    <button color="warn" mat-icon-button *ngIf="wish.history && wish.history.length > 0" (click)="showHistory(wish.history)">
        <mat-icon style="color: rgba(0, 0, 0, 0.3);">history</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="myWish && !wish.deleted">
        <mat-icon>more_vert</mat-icon>
    </button>
    <span *ngIf="!myWish">
        <button mat-icon-button *ngIf="!wish.taken && !wish.deleted" (click)="takeWish()">
            <i class="fa fa-gift fa-2x"></i>
        </button>
        <button mat-icon-button *ngIf="canDelete" (click)="deleteWish()">
            <mat-icon>delete</mat-icon>
        </button>
    </span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/edit-wish/' + wish.$key" *ngIf="!wish.deleted">
            <mat-icon>mode_edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteWish()" *ngIf="!wish.deleted">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
</mat-list-item>