.notification-new {
    /*background-color: #faf3fb;*/
}

.new-badge {
    background-color: #fd5555;
    color: white;
    border-radius: 4px;
    padding: 0 4px;
    margin-right: 5px;
    border: 1px solid red;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.notification-card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}