<mat-card>
    <p>
        <mat-input-container class="full-width">
            <input matInput required="true" placeholder="Name" [ngModel]='(userS.user$|async)?.displayName'
                   (ngModelChange)="userS.user$.update({displayName: $event})" name="email">
        </mat-input-container>
    </p>
    <p>
        <mat-slide-toggle [checked]="pushActivated" (change)="setPushNotifications($event)">
            Activate push notifications
        </mat-slide-toggle>
    </p>
    <button mat-button color="primary" (click)="logOut()">LOG OUT</button>
</mat-card>