<form class="wish-form" *ngIf="gift">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Gift" [(ngModel)]="gift.name" name="gName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-select placeholder="For user" [(ngModel)]="gift.user" name="gUser">
            <mat-option *ngFor="let u of users" [value]="u.$key">
                <mat-icon mat-list-icon *ngIf="u.photoUrl">
                    <img mat-fab-image class="avatar-small" [src]="u.photoUrl" onerror="brokenImg(this);">
                </mat-icon>
                {{u.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="save()">SAVE</button>
    <button mat-raised-button color="accent" (click)="cancel()">CANCEL</button>
</form>