<md-nav-list class="side-list">
    <a md-list-item routerLink="/my-list" routerLinkActive="route-active">
        <md-icon class="menu-icon">
            <img md-fab-image class="avatar" [src]="photoUrl">
        </md-icon>
        My list
    </a>
    <span *ngFor="let l of wishlists">
        <a md-list-item [routerLink]="'/wishlist/' + l.lid">
        <md-icon class="menu-icon">
            <img md-fab-image class="avatar" [src]="l.photoUrl">
        </md-icon>
        {{ l.name }}
    </a>
    </span>
</md-nav-list>