<mat-nav-list class="side-list">
    <a mat-list-item routerLink="/my-list" routerLinkActive="route-active">
        <mat-icon class="menu-icon">
            <img mat-fab-image class="avatar" [src]="photoUrl" onerror="brokenImg(this);">
        </mat-icon>
        My list
    </a>
    <a mat-list-item routerLink="/my-gifts" routerLinkActive="route-active">
        <mat-icon class="menu-icon">
            <i class="fa fa-gift"></i>
        </mat-icon>
        My gifts
    </a>
    <span *ngFor="let l of wishlists">
        <a mat-list-item [routerLink]="'/wishlist/' + l.lid">
        <mat-icon class="menu-icon">
            <img mat-fab-image class="avatar" [src]="l.photoUrl" onerror="brokenImg(this);">
        </mat-icon>
        {{ l.name }}
    </a>
    </span>
</mat-nav-list>