.side-list {
    padding: 0;
}
.border-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.collaborator {
    margin-left: -24px;
    z-index: -10;
}