<mat-nav-list class="side-list" *ngIf="myList">
    <a mat-list-item routerLink="/my-list" routerLinkActive="route-active">
        <mat-icon class="menu-icon">
            <img mat-fab-image class="avatar-small" [src]="myList.photoUrl" onerror="brokenImg(this);">
        </mat-icon>
        <mat-icon class="menu-icon collaborator" *ngFor="let u of myList.collaborators">
            <img mat-fab-image class="avatar-small" [src]="u" onerror="brokenImg(this);">
        </mat-icon>
        {{ myList.name }}
    </a>
    <a mat-list-item routerLink="/my-gifts" routerLinkActive="route-active">
        <mat-icon class="menu-icon-gift">
            <i class="fa fa-gift"></i>
        </mat-icon>
        My gifts
    </a>
    <span *ngFor="let l of wishlists">
        <a mat-list-item [routerLink]="'/wishlist/' + l.$key" routerLinkActive="route-active">
        <mat-icon class="menu-icon" *ngIf="l.photoUrl">
            <img mat-fab-image class="avatar-small" [src]="l.photoUrl" onerror="brokenImg(this);">
        </mat-icon>
        <mat-icon class="menu-icon collaborator" *ngFor="let u of l.collaborators">
            <img mat-fab-image class="avatar-small" [src]="u" onerror="brokenImg(this);">
        </mat-icon>
        {{ l.name }}
    </a>
    </span>
</mat-nav-list>